<div style="text-align-last: center;" class="container">
  <h2 style="text-align: center; margin-bottom: 5%">MedLog</h2>

  
    <div>
      <h4 style="text-align:center">Eir</h4>
      <input [(ngModel)]="service.data.eir" name="eir" disabled type="text" value="">
    </div>
    <div>
      <h4 style="text-align:center">Container</h4>
      <input [(ngModel)]="service.data.contenedor" name="container" disabled type="text" placeholder="No data">
    </div>
    <div>
      <h4 style="text-align:center">Sello</h4>
      <input [(ngModel)]="service.data.sello" name="sello" type="text" disabled placeholder="No data">
    </div>
    <div>
      <h4 style="text-align:center">Empresa</h4>
      <input [(ngModel)]="service.data.empresa_nombre" name="empresa" type="text" disabled placeholder="No data">
    </div>
    <div>
      <h4 style="text-align:center">Responsable</h4>
      <input [(ngModel)]="service.data.responsable_nombre" name="responsable" disabled type="text" placeholder="No data">
    </div>
</div>
